<% if object[:callbacks] %>
<h2>Callbacks</h2>
<div class="docstring"><div class="discussion">
<pre class="code ruby"><code class="ruby"><%= html_syntax_highlight(object[:callbacks].join("\n")) %></code></pre>
</div></div>
<% end %>
