<% if object[:has_scopes] %>
<h2>Scopes</h2>
<div class="docstring"><div class="discussion">
<pre class="code ruby"><code class="ruby"><%= html_syntax_highlight(object[:has_scopes].join("\n")) %></code></pre>
</div></div>
<% end %>
